*{
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-azul: #2f86d6;
}

                /* estilização do header */

span{
    color: var(--cor-azul);
}

header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; 
}
.conteiner-logo{
    max-width: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao-principal{
    display: flex;
}

.logo{
    width: 80px;
    height: 80px;
}

.div-texto > p{
    color: #4195de;
}

.links-navegacao{
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    
}

.links-navegacao > li, .acesso{
    text-decoration: none;
    color: #293b46;
}

            /* Finalizando a estilização do header */


            /* Iniciando a estlização do main */


            /* Estilizando a sessão do bannner */
.sessao-banner{
    background-color: var(--cor-azul);
    margin-top: 20px;
    height: 700px;
} 

.container-banner{
    margin: 0 auto;

    width: 1100px;
    height: 700px;
    position: relative;
}

.texto-banner{
    color: white;
    width: 330px;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 200px;
    left: 150px;
}

.texto-banner > p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}

.img-banner{
    position: absolute;
    top: 130px;
    left: 550px;
}

            /* Finalizando a estilização da sessão banner */

            /* Iniciando a estilização da sessão de anuncio 1 */
            
.sessao-anuncio_1{
    background-color: #23303e;
    color: white;
    height: 100px;
    padding-top: 30px;
    
}

.container-anuncio_1{
    width: 830px;
    margin: 0 auto;
    position: relative;
}

.botao-tabela-de-precos{
    background-color: var(--cor-azul);
    border: 5px solid var(--cor-azul);
    text-align: center;

    padding: 5px;

    position: absolute;
    left: 600px;
    bottom: 4px;

}

.botao-tabela-de-precos > a{
    color: white;
    text-decoration: none;
}

            /* Finalizando a estização da sessão do anuncio 1 */

            /*  iniciando a estilização da sessão de serviços de hospedagem*/

.sessao-servicos-hospedagem{
    background-color: white;
}

.container-servicos-hospedagem{
    width: 830px;
    margin: 0 auto;
    padding-bottom: 130px;
}

.container-servicos-hospedagem > h3{
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 130px;
}

.sessao-servicos-hospedagem img{
    width: 70px;
    margin-left: 80px;
}

.container-servicos{
    margin: 50px 35px;
}

.container-servicos  h4{
    padding: 15px 0;
}
article{
    width: 250px;
    display: inline-block;

}

            /* Finalizando a estilização da sessão dos serviços de hospedagem */

            /* iniciando a estilização da sessão das informações de hospedagem */

.sessao-informacao-hospedagem{
    background-color: white;
    height: 700px;
}

.sessao-informacao-hospedagem > h3{
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.sessao-informacao-hospedagem img{
    width: 100px;
    margin-left: 50px;
}

table{
    background-color: white;
    border: 2px solid rgb(245, 243, 243);
    border-radius: 5px;
    box-shadow: -1px 2px 20px 10px #6aa7e0;
    width: 880px;
    margin: 0 auto;
    padding-bottom: 15px;
}

th, td{
    padding-top: 25px;
}

td > p{
    padding-bottom: 20px;
}

.usuario,.espaco,.suporte{
    background-color: #f6f6f6;
}

            /* Finalizando a estilização da sessão de infomrações de hospedagem */

            /* Iniciando a estilização da sessão de anuncio 2*/

.sessao-anuncio_2{
    background-color: var(--cor-azul);
    color: white;
    height: 100px;
    position: relative;
}

.sessao-anuncio_2 > h3{
    width: 400px;
    padding-top:35px;
    margin-left: 200px;
}

.botao-tabela-de-precos-2{
    background-color: #23303e;
    border: 2px solid #23303e;
    position: absolute;
    top: 35px;
    right: 250px;
    padding: 8px 5px ;
    text-transform: uppercase;
}

.botao-tabela-de-precos-2 > a{
    color: white;
    text-decoration: none;
}

            /* Finalizando a estilização da sessão de anuncio 2  */

            /* Iniciando a estilização do radapé da minha página princiapl */

footer{
    background-color: white;
    
}

.container-rodape{
    /* background-color: blue; */
    width: 550px;
    height: 500px;
    margin: 0 auto;
}

.container-rodape_logo{
    /* background-color: red; */
    position: relative;
    width: 250px;
    margin: 0 170px;
    padding-top: 50px;
}

footer ul{
    /* background-color: yellow; */
    margin: 60px 0;
    text-align: center;
    line-height: 30px;
}

footer  h4{
    text-transform: uppercase;
    text-align: center;
}
