<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlfaTech</title>
    <link rel="stylesheet" href="./styles/style-principal.css">
</head>
<body>
    <header>
        <div class="conteiner-logo">
            <img src="./assets/logo-icone.png" alt="" title="" class="logo">
            <div class="div-texto">
                <h1>AlfaTech</h1>
                <p>Soluções em hospedagem</p>
            </div>
        </div>
       
        <nav class="navegacao-principal">
            <ul type="none" class="links-navegacao">
                <li><a href="">Informações</a></li>
                <li><a href="">planos</a></li>
                <li><a href="">preços</a></li>
                <li><a href="">contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="sessao-banner">
            <div class="container-banner">
                <div class="texto-banner">
                    <p>Simples - Fácil de usar - 10x mais rápido</p>
                    <h2>O melhor serviço de hospedagem na web para o seu site.</h2>
                    <p>Obtenha a melhor velocidade para o seu site. Não perca mais clientes por causa de lentidão na sua hospedagem.</p>
                </div>
                <div class="img-banner">
                    <img src="./assets/imagem-banner.png" alt="" title="">
                </div>
            </div>
            
        </section>

        <section class="sessao-anuncio_1">
            <div class="container-anuncio_1">
                <h3>Hospede o seu site por apenas R$29 por mês.</h3>
                <p>Também temos planos gratuitos. Adquira já o seu.</p>
                <div class="botao-tabela-de-precos">
                    <img src="./assets/icone-foguete.png" alt="" title="">
                    <a href="./tabela-de-precos.html">TABELA DE PREÇOS</a>
                </div>
            </div>
        </section>

        <section class="sessao-servicos-hospedagem">
            <div class="container-servicos-hospedagem">
                <h3>Existem diversos serviços de hospedagem de sites. Porque você deve <span>nos escolher?</span></h3>
                <div class="container-servicos">
                    <article>
                        <img src="./assets/icone-engrenagens.png" alt="" title="">
                        <h4>Fácil de configurar</h4>
                        <p>Facilmente configurável em plataformas CMS populares - Wordpress, Joomia ...</p>
                    </article>

                    <article>
                        <img src="./assets/cloud-icone.png" alt="" title="">
                        <h4>Servidores 100% Online</h4>
                        <p>Serviços que operam 100% do tempo para manter o seu site online...</p>
                    </article>

                    <article>
                        <img src="./assets/icone-suporte.png" alt="" title="">
                        <h4>Suporte 24/7</h4>
                        <p>Suporte altamente treinado e especializado em soluções de Cloud...</p>
                    </article> 
                </div>
                
            </div>
            
        </section>

        <section class="sessao-informacao-hospedagem">
            <h3>Pague <span>somente</span>  pelo que for usar. Sem cobranças adicionais!</h3>

            <table>
                <thead>
                    <tr>
                        <th>pessoal</th>
                        <th>profissional</th>
                        <th>empresarial</th>
                        <th>big techs</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><img src="./assets/pessoal-icone.png" alt=""></td>
                        <td><img src="./assets/equipe-icone.png" alt=""></td>
                        <td><img src="./assets/empresa-icone.png" alt=""></td>
                        <td><img src="./assets/big-tech.png" alt=""></td>
                    </tr>

                    <tr>
                        <td><p>Indicado para uso pessoal</p></td>
                        <td><p>Indicado para profissionais de T.I</p></td>
                        <td><p>Indicado para empresas</p></td>
                        <td><p>Indicado para grandes empresas</p></td>
                    </tr>

                    <tr class="usuario">
                        <td>1 usuário</td>
                        <td>10 usuários</td>
                        <td>25 usuários</td>
                        <td>50 usuários</td>
                    </tr>

                    <tr class="dominio">
                        <td>1 domínio grátis</td>
                        <td>2 domínios grátis</td>
                        <td>2 domínios grátis</td>
                        <td>3 domínios grátis</td>
                    </tr>

                    <tr class="espaco">
                        <td>200gb ssd espaço</td>
                        <td>500gb ssd espaço</td>
                        <td>1tb ssd espaço</td>
                        <td>2tb ssd espaço</td>
                    </tr>

                    <tr class="oferta">
                        <td>ofertas especiais</td>
                        <td>ofertas especiais</td>
                        <td>ofertas especiais</td>
                        <td>ofertas especiais</td>
                    </tr>

                    <tr class="suporte">
                        <td>suporte ilimitado</td>
                        <td>suporte ilimitado</td>
                        <td>suporte ilimitado</td>
                        <td>suporte ilimitado</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="sessao-anuncio_2">
            <div class="container-anuncio_2">
                <h3>Mais de 20.000 pessoas confiam na Spark! Seja um deles você também!</h3>
                <div class="botao-tabela-com-precos">
                    <img src="./assets/icone-foguete.png" alt="">
                    <a href="./tabela-de-precos.html">tabela de preços</a>
                </div>
            </div>
            
        </section>

        <footer>
            <div>
                <img src="./assets/logo-icone.png" alt="">
                <h3>AlfaTech</h3>
                <p>soluçoes em hospedagem</p>
            </div>

            <ul type="none">
                <li>Telefone & Whatsapp: (21) 99999-5555</li>
                <li>E-mail: suporte@alfatech.com</li>
                <li>Endereço: Av Ayrton Senna, 3000 - Barra da Tijuca - Rio de Janeiro</li>
                <li>© AlfaTech - Soluções em hospedagem - Todos os direitos reservados</li>
            </ul>

            <h4>Desenvolvido por letícia souza</h4>
        </footer>
    </main>
</body>
</html>